.main-heading {
    font-size: 2.6rem;
    color: var(--color-text-heading);
    text-align: center;
    margin-bottom: 4rem;

    @media screen and (max-width: 720px) {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}
