html {
    font-size: var(--base-font-size);
    height: 100%;

    @media screen and (max-width: 1440px) {
        font-size: .69444444444444444444444444444444vw;
    }

    @media screen and (max-width: 720px) {
        font-size: 2.77777778vw;
    }
}

body {
    font-family: Roboto, arial, sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

[class*="__container"] {
    max-width: calc(1440px + 2rem);
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @media screen and (max-width: 720px) {
        padding: 0 .5rem;
    }
}
