<main class="main">
    <div class="main__container">
        {% include './heading.njk' %}
        {% include './filter.njk' %}
        <div class="main__tiles js-tiles-list"></div>
        {% include './text.njk' %}
    </div>
</main>
