<main class="main">
    <div class="main__container">
        {% include './heading.njk' %}
        {% include './filter.njk' %}
        <div class="main__tiles js-tiles-list">
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
            {% include './tile.njk' %}
        </div>
        {% include './text.njk' %}
    </div>
</main>
