{% extends "./layout/default.njk" %}

{% block styles %}
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block content %}

    {% include './components/header.njk' %}

    {% include './components/main.njk' %}

    {% include './components/footer.njk' %}

{% endblock %}

{% block scripts %}
    <script src="../js/script.js"></script>    
{% endblock %}
