{% extends "./layout/default.njk" %}

{% block styles %}
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block content %}

    <h1>Ем колбасу</h1>

{% endblock %}


{% block scripts %}
    <script src="../js/script.js"></script>    
{% endblock %}